// * import
@import "./variables";
@import "./reset";
@import "./mixins";

// * global styles
img {
  width: 100%;
}

section {
  padding: 60px 0;
  @include responsive(sm) {
    padding: 40px 0;
  }
}

.title {
  color: $primary-color;
  font-weight: 600;
  @include responsive(md) {
    font-size: 1.7rem;
  }
}
