// * import
@import "./variables";
@import "./reset";
@import "./mixins";

// * global styles
img {
  width: 100%;
}

section {
  padding: 60px 0;
  @include responsive(sm) {
    padding: 40px 0;
  }
}

.title {
  color: $primary-color;
  font-weight: 600;
  @include responsive(md) {
    font-size: 1.7rem;
  }
}

.btn__buy {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 20px;
  background: $primary-color;
  color: $white-color;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}
