@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.table {
  tbody {
    td {
      img {
        width: 80px !important;
        height: 80px !important;
        object-fit: cover;
      }

      i {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          color: crimson;
        }
      }
    }
  }
}

.btn__buy a:hover {
  color: inherit;
}
