@import "../assets/scss/variables";

.hero {
  background-color: $hero-bg;

  &__content {
    padding-top: 43px;
  }

  &__title {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 22px 0;
  }

  &__subtitle,
  &__description {
    color: $black-color;
    line-height: 28px;
    font-weight: 500;
  }

  &__btn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 20px;
    background: $primary-color;
    color: $white-color;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 40px;

    &:hover {
      a {
        color: whitesmoke;
      }
    }
  }
}

// * Timer count
.timer__count {
  background: $primary-color;
  height: 300px;

  &--content {
  }

  &--btn {
    background: $white-color;
    padding: 10px 17px;
    margin-top: 20px;
    border-radius: 5px;
    color: $primary-color;
    border: none;
    font-weight: 600;
  }

  &--img {
    height: 70% !important;
    width: 70% !important;
    object-fit: contain;
  }
}
