@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.product {
  &__card {
    background: $white-color;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
    cursor: pointer;
  }

  &__info {
    padding: 10px 4px;
  }

  &__name {
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    @include responsive(md) {
      font-size: 1.1rem;
    }
  }

  &__category {
    font-size: 0.9rem;
  }

  &__item {
    @include flex(row, nowrap, space-between, center);
  }

  &__price {
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 500;
    @include responsive(md) {
      font-size: 1.2rem;
    }
  }

  &__add {
    i {
      font-size: 1.2rem;
      color: $white-color;
      padding: 5px;
      background-color: $primary-color;
      border-radius: 50px;
      @include responsive(md) {
        font-size: 1.1rem;
      }
      @include responsive(sm) {
        font-size: 1rem;
      }
    }
  }
}
