@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.product {
  &__details {
    margin-top: 80px;
  }

  &__productName {
    font-size: 1.7rem;
    margin-bottom: 10px;

    @include responsive(sm) {
      font-size: 1.4rem;
    }
  }

  &__rating {
    @include flex(row, nowrap, flex-start, center);
    gap: 25px;
    margin-bottom: 20px;

    i {
      color: coral;
    }

    &--text span {
      color: coral;
      font-weight: 500;
    }
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__shortDesc {
    margin: 20px 0;
    color: $primary-color;
  }

  &__btn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 20px;
    background: $primary-color;
    color: $white-color;
    font-size: 1rem;
    cursor: pointer;
  }
}

.tab {
  &__wrapper {
    @include flex(row, nowrap, flex-start, center);
    gap: 30px;

    h6 {
      font-size: 1rem;
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 30px;
  }

  &__text {
    color: $black-color;
    line-height: 25px;
  }

  &__active {
    font-weight: 600;
    color: $black-color;
  }

  &__reviews {
    margin-top: 40px;
  }
}

.reviews {
  &__wrapper {
    li {
      margin-bottom: 15px;
    }

    ul h6 {
      padding: 5px 0;
    }

    ul span {
      color: coral;
      font-weight: 600;
    }

    ul p {
      margin-top: 10px;
    }
  }

  &__form {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .form__group {
      margin-bottom: 30px;
    }

    .form__group input,
    .form__group textarea {
      width: 100%;
      border: 1px solid $primary-color;
      border-radius: 5px;
      padding: 8px 20px;
    }

    .form__group input:focus,
    .form__group textarea:focus {
      outline: none;
    }

    .form__group--stars {
      @include flex(row, nowrap, flex-start, center);
      column-gap: 25px;

      @include responsive(sm) {
        column-gap: 1rem !important;
      }
    }

    .form__group span {
      @include flex(row, nowrap, flex-start, center);
      column-gap: 5px;
      font-weight: 600;
      color: coral;
      cursor: pointer;
    }

    .form__btn {
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 8px 20px;
      background: $primary-color;
      color: $white-color;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.related__title {
  font-size: 1.2rem;
  font-weight: 600;
}
