@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.product {
  &__card {
    background: $white-color;
    padding: 12px;
    border-radius: 8px;
    height: 100%;
    width: 260px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    @include responsive(lg) {
      width: 250px;
    }

    @include responsive(md) {
      width: 230px;
    }

    @include responsive(sm) {
      width: 240px;
    }

    @include responsive(xs) {
      width: 100%;
    }
  }

  &__img {
    position: relative;
    height: 210px;
    width: 210px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      // @include responsive(md) {
      //   object-fit: cover;
      // }
    }
  }

  &__wish {
    position: absolute;
    top: 0px;
    right: -12px;
  }

  &__info {
    padding: 10px 4px;
  }

  &__name {
    color: $primary-color;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 15px;
    @include responsive(md) {
      font-size: 1rem;
    }
  }

  &__category {
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__item {
    @include flex(row, nowrap, space-between, center);
  }

  &__price {
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 500;
    @include responsive(md) {
      font-size: 1.2rem;
    }
  }

  &__add {
    font-size: 1.25rem;
    color: $white-color;
    padding: 4px 20px;
    background-color: $primary-color;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    @include responsive(md) {
      font-size: 1.1rem;
    }
    @include responsive(sm) {
      font-size: 1rem;
    }
  }
}
