@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  @include responsive(sm) {
    width: 100%;
    height: 64px;
    line-height: 64px;
  }

  &__wrapper {
    @include flex(row, nowrap, space-between, center);
  }

  &__logo {
    @include center();
    column-gap: 8px;

    img {
      width: 1.5rem;
      height: 1.5rem;
      @include responsive(sm) {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    span {
      font-size: 1.2rem;
      font-weight: 700;
      color: $primary-color;
      @include responsive(sm) {
        font-size: 1.1rem;
      }
    }
  }

  &__menu {
    @include center();
    column-gap: 2.7rem;
    margin-bottom: 0;
    position: relative;

    @include responsive(sm) {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background: $white-color;
      z-index: 10000;
      @include flex(column, nowrap, center, center);
    }

    &--close {
      display: none;
      font-size: 1.4rem;
      font-weight: 600;
      color: $primary-color;

      @include responsive(sm) {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 20px;
      }
    }
  }

  .nav__item {
    a {
      color: $primary-color;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .nav__active {
    font-weight: 700 !important;
  }

  &__icons {
    @include center();
    column-gap: 1.2rem;

    i {
      font-size: 1.4rem;
      cursor: pointer;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .heart__icon,
  .cart__icon {
    position: relative;

    i {
      @include responsive(sm) {
        font-size: 1.25rem !important;
      }
    }
  }

  .badge {
    position: absolute;
    top: 25%;
    right: -8%;
    width: 16px;
    height: 16px;
    content: "";
    background-color: $primary-color;
    color: #fff;
    border-radius: 50px;
    @include center();
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;
  }

  .profile {
    &__icon {
      position: relative;
      z-index: 9;
      img {
        @include responsive(sm) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    &__actions {
      position: absolute;
      top: 97%;
      left: -430%;
      width: 166px;
      z-index: 10;
      padding: 10px;
      @include flex(column, nowrap, flex-start, center);
      background: $card-bg-01;
      line-height: 30px;
      display: none;
      cursor: pointer;
    }

    &__action {
      @include flex(column, nowrap, center, center);
    }

    &__show {
      display: block;
      text-align: center;
    }
  }

  &__mobile--menu {
    font-size: 1.3rem;
    color: $primary-color;
    display: none;

    @include responsive(sm) {
      display: block;
    }

    i {
      @include responsive(sm) {
        font-size: 1.25rem !important;
      }
    }
  }

  &__sticky {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: $white-color;
  }

  &__navigation {
    @include responsive(sm) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: #1c1b1b67;
      z-index: 1000;
      display: none;
    }
  }

  .menu__active {
    display: block;
  }
}
